{
    "globals" : {
        "_comments" : "In case you dont want to use Django settings
        then 'settings_django_package' must be set to 'false'
        and 'settings_json' must contain the settings.
        e.g settings.example",

        "admin" : "foo@bar.com",
        "project_name" : "foobar",

        "settings_django_package" : "foobar.config.settings",

        "apache_path" : "/etc/apache2/",
        "modules_path" : "~/.local",
        "bash_profile_path" : "~/.bash_profile",

        "avoid_test" : false
    },
    "dev" : {
        "hosts" : ["localhost"],
        "password" : "psw",

        "home" : "/home/user/",
        "path" : "/home/user/to/project/",
        "modules_path" :"/usr/local/bin",

        "wsgi_path" : "/home/user/to/project/config/django.wsgi",

        "log_path" : "~/my_logs/",
        "vhost_template" : "/home/user/deploy/config/virtualhost.conf",
        "settings_json" : "/to/my/settings.json",

        "use_sudo" : true
    },
    "test" : {
        "hosts" : [""],
        "password" : "",

        "home" : "",
        "path" : "",
        "modules_path" : "/home/user/.local/",

        "wsgi_path" : "/home/user/to/project/config/",

        "log_path" : "~/my_logs/",
        "vhost_template" : "/home/user/deploy/config/virtualhost.conf",
        "settings_json" : "/to/my/settings.json",

        "use_sudo" : true
    },
    "live" :  {
    }
}
