{
    "globals" : {
        "admin" : "foo@bar.com",
        "project_name" : "foobar",

        "settings_django_package" : "foobar.config.settings",

        "modules_path" : "~/.local",
        "bash_profile_path" : "~/.bash_profile",

        "avoid_test" : false
    },
    "dev" : {
        "hosts" : ["localhost"],
        "server": "foobar.com",
        "password" : "psw",
        "home" : "/home/user/",
        "path" : "/home/user/to/project/",
        "modules_path" :"/usr/local/bin",

        "wsgi_path" : "/home/user/to/project/config/django.wsgi",

        "log_path" : "~/my_logs/",
        "vhost_path" : "/to/apache/default",
        "vhost_template" : "/home/user/deploy/config/virtualhost.conf",

        "settings_json" : "settings.json",
        "use_sudo" : true
    },
    "stage" : {
        "hosts" : [""],
        "server" : "",
        "password" : "",
        "home" : "",
        "path" : "",
        "wsgi_path" : "/home/user/to/project/config/",
        "vhost_path" : "",
        "modules_path" : "/home/user/.local/",
        "conf_template" : "",
        "use_sudo" : false
            },
    "prod" :  {
        "hosts" : [""],
        "server" : "",
        "password" : "",
        "home" : "",
        "path" : "",
        "wsgi_path" : "",
        "vhost_path" : "",
        "modules_path" : "", 
        "conf_template" : "",
        "use_sudo" : false
          }
}
